.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.search-input {
  width: 500px;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.search-button {
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-family: Arial, sans-serif;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}


a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}
