<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body th:fragment="headerFragment">
	<header class="main_menu home_menu">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-12">
					<nav class="navbar navbar-expand-lg navbar-light">
						<a class="navbar-brand" href="/index"> <img src="/img/main_logo.png" alt="logo"> </a>
						<button class="navbar-toggler" type="button" data-toggle="collapse"
							data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
							aria-expanded="false" aria-label="Toggle navigation">
							<span class="menu_icon"><i class="fas fa-bars"></i></span>
						</button>

						<div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
							<ul class="navbar-nav">
								<li class="nav-item">
									<a class="nav-link" href="index">Home</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" href="admin_index">dash</a>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_1"
										role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Shop
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown_1">
										<a class="dropdown-item" href="/product_list_dog"> Dog </a>
										<a class="dropdown-item" href="/product_list_cat"> Cat </a>
										<a class="dropdown-item" th:if="${session.loginUser != null}" th:href="@{/cart_detail(userId=${session.loginUser.userId})}"> My Cart </a>
										<a class="dropdown-item" href="/adopt_list_index"> 입양 </a>

									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_3"
										role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Community
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
										<a class="dropdown-item" href="/#"> 커뮤니티1</a>
										<a class="dropdown-item" href="/#">커뮤니티2</a>
										<a class="dropdown-item" href="/board_list/1">커뮤니티3</a>
										<a class="dropdown-item" href="board_write">커뮤니티4</a>
										<a class="dropdown-item" href="board_detail">커뮤니티5</a>
									</div>
								</li>
								<li class="nav-item dropdown">
									<a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_4"
										role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										News
									</a>
									<div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
										<a class="dropdown-item" href="/#"> 커뮤니티1</a>
									</div>
								</li>

								<!-- 로그인시 나의정보,카트,주문내역확인
	                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown_2"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        blog
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown_2">
                                        <a class="dropdown-item" href="blog.html"> blog</a>
                                        <a class="dropdown-item" href="single-blog.html">Single blog</a>
                                    </div>
                                </li>-->

								<li class="nav-item">
									<a class="nav-link" href="/user_login_form"
										th:if="${session.loginUser == null}">Login</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" onclick="logout()"
										th:unless="${session.loginUser == null}">Logout</a>
								</li>

								<li class="nav-item" th:if="${session.loginUser == null}">
									<a class="nav-link" href="#">방문객님</a>
								</li>
								<li class="nav-item" th:unless="${session.loginUser == null}">
									<a class="nav-link" href="/user_mypage_form"
										th:text="${session.loginUser.userName + '  님'}">로그인유저네임</a>
								</li>



							</ul>
						</div>
					</nav>
				</div>
			</div>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container ">
				<form class="d-flex justify-content-between search-inner">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="ti-close" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	
	
	<script th:inline="javascript">
		function logout() {
			if (confirm("로그아웃 하시겠습니까?")) {
				window.location.href = "/user_logout_action"; // 로그아웃 액션 경로로 이동
			}
		}
	</script>